# kamidana-action

[kamidana][] is yet another jinja2's cli wrapper.

## Features

* github/job/runner [context](https://docs.github.com/en/actions/learn-github-actions/contexts) is provided by default
* [kamidana][] additionals
  * [env](https://github.com/podhmo/kamidana/blob/master/kamidana/additionals/env.py)
  * [naming](https://github.com/podhmo/kamidana/blob/master/kamidana/additionals/naming.py)
  * [reader](https://github.com/podhmo/kamidana/blob/master/kamidana/additionals/reader.py)
* kamidana-action additonals
  * [color](additionals/color.py)
    * (as_global) status_success_color
    * (as_global) status_failure_color
    * (as_global) status_other_color
    * outcome_color
    * status_color
    * discord_color
  * [filter](additionals/filter.py)
    * ternary
    * b64encode
    * b64decode
    * [json_query](https://jmespath.org/)
      * [playground](https://play.jmespath.org/)
  * [github](additionals/github.py)
    * get_user
    * get_user_email
  * [io](additionals/io.py)
    * relativepath
    * abspath
    * basename
    * dirname
    * path_exists
    * listdir
    * listdir_files
    * listdir_dirs
  * [to_yaml](additionals/to_yaml.py)
    * to_yaml
    * to_nice_yaml
* user defined additionals

## Usage

### GitHub Context Example

{% with name="testdata/default-example.j2" -%}
[{{ name | basename }}]({{ name }})

```text
{{ name | read_from_file(relative_self=False) | trim }}
```
{%- endwith %}

{% with name="default-example.yml" -%}
{% with path=".github/workflows/" ~ name -%}
[{{ name }}]({{ path }})

```yaml
{{ path | read_from_file(relative_self=False) | replace(replace_uses, replace_uses_to)| trim }}
```

[runs](https://github.com/srz-zumix/kamidana-action/actions/workflows/{{ name }})
{%- endwith %}
{%- endwith %}

### Variable / Data file Example

{% with name="testdata/variables-and-data-file-example.j2" -%}
[{{ name | basename }}]({{ name }})

```text
{{ name | read_from_file(relative_self=False) | trim }}
```
{%- endwith %}

{% with name="variables-and-multi-data-file-example.yml" -%}
{% with path=".github/workflows/" ~ name -%}
[{{ name }}]({{ path }})

```yaml
{{ path | read_from_file(relative_self=False) | replace(replace_uses, replace_uses_to)| trim }}
```

[runs](https://github.com/srz-zumix/kamidana-action/actions/workflows/{{ name }})
{%- endwith %}
{%- endwith %}

### Additionals Example

{% with name="testdata/additionals-example.j2" -%}
[{{ name | basename }}]({{ name }})

```text
{{ name | read_from_file(relative_self=False) | trim }}
```
{%- endwith %}

{% with name="testdata/surprised.py" -%}
[{{ name | basename }}]({{ name }})

```python
{{ name | read_from_file(relative_self=False) | trim }}
```
{%- endwith %}

{% with name="additionals-example.yml" -%}
{% with path=".github/workflows/" ~ name -%}
[{{ name }}]({{ path }})

```yaml
{{ path | read_from_file(relative_self=False) | replace(replace_uses, replace_uses_to)| trim }}
```

[runs](https://github.com/srz-zumix/kamidana-action/actions/workflows/{{ name }})
{%- endwith %}
{%- endwith %}

### IO Example

{% with name="testdata/io-example.j2" -%}
[{{ name | basename }}]({{ name }})

```text
{{ name | read_from_file(relative_self=False) | trim }}
```
{%- endwith %}

{% with name="io-example.yml" -%}
{% with path=".github/workflows/" ~ name -%}
[{{ name }}]({{ path }})

```yaml
{{ path | read_from_file(relative_self=False) | replace(replace_uses, replace_uses_to)| trim }}
```

[runs](https://github.com/srz-zumix/kamidana-action/actions/workflows/{{ name }})
{%- endwith %}
{%- endwith %}

### Extensions Example

{% with name="testdata/extensions-example.j2" -%}
[{{ name | basename }}]({{ name }})

```text
{{ name | read_from_file(relative_self=False) | trim }}
```
{%- endwith %}

{% with name="extensions-example.yml" -%}
{% with path=".github/workflows/" ~ name -%}
[{{ name }}]({{ path }})

```yaml
{{ path | read_from_file(relative_self=False) | replace(replace_uses, replace_uses_to)| trim }}
```

[runs](https://github.com/srz-zumix/kamidana-action/actions/workflows/{{ name }})
{%- endwith %}
{%- endwith %}

[kamidana]:{{ links.kamidana }}
