name: Extensions-Example
on:
  pull_request:

permissions:
  contents: read

jobs:
  extensions-example:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: kamidana
        id: kamidana
        uses: ./
        with:
          template: testdata/extensions-example.j2
          output_file: test.txt
          tee: true
          extensions: |
            i18n
            do
            loopcontrols
            debug
      - run: |
          cat << 'EOS' | tee output.txt
          ${{ steps.kamidana.outputs.text }}
          EOS
          diff output.txt test.txt
